
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

  </button>
  <span>MEDICARE</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
      <mat-icon routerLink="/cart">add_shopping_cart</mat-icon>
    </button>
  </div>
  <button style="margin-left: 8px;" mat-raised-button  color="warn" (click)="openDialog()" >Add Product</button>
  
</mat-toolbar>

<router-outlet></router-outlet>



