<div class="example-ripple-container mat-elevation-z4"
     matRipple
     style="
     width: 300px;
     margin: 50px auto;
     padding: 100px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 1px 3px 15px hwb(0 0% 100%);
     " matRiple [matRippleColor]="'red'">
      <h1>Admine</h1>
</div>

<div class="example-ripple-container mat-elevation-z4"
     matRipple
     style="
     width: 300px;
     margin: 50px auto;
     padding: 100px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 1px 3px 15px hwb(0 0% 100%);
     " matRiple [matRippleColor]="'red'" routerLink="/admine">
      <h1>User</h1>
</div>
<router-outlet></router-outlet>
